/* style.css */

body {
	background-color: #222;
}

#sidebar-main {
    background-color: black;
}

#toggle-sidebar {
	background-image: url('fbgraphics.png');
	background-repeat: no-repeat;
	background-size: 401px 237px;
	background-position: -141px -78px;

	display: block;
	height: 42px;
	width:52px;
}
