/* style.css */

body {
	background-color: #222;
}

.menutoggle {
	background-image: url('images/fbgraphics.png');
	background-repeat: no-repeat;
	background-size: 401px 237px;

	display: block;
	height: 42px;
	width: 52px;
}

.menutoggle-light {
	background-position: -141px -78px;
}

.menutoggle-dark {
	background-position: -194px -78px;
}

